@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-bottom {
    box-shadow: 0px var(--shadow-width, 5px) 0px 0px var(--tw-shadow-color);
    -webkit-box-shadow: 0px var(--shadow-width, 5px) 0px 0px
      var(--tw-shadow-color);
    -moz-box-shadow: 0px var(--shadow-width, 5px) 0px 0px var(--tw-shadow-color);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
